<div>
  <h1>BUDGET TABLE </h1>
  <div class = "btn">
    <button (click)="exportToPDF()">PDF</button>
    <button (click)="save()">SAVE</button>
    <button (click)="cleanAllData()">Clean All Data</button>
    <button (click)="addNewCategory()">New category</button>
  </div>
  <div class="calendar">
    <div class="calendar-row">
      <span>Start month</span>
      <input type="text" 
             [value]="formattedSDate" 
             (click)="ChooseDate(true)" 
             placeholder="Choose Date" 
             readonly />
    </div>
    
    <div class="calendar-row">
      <span>End month</span>
      <input type="text" 
             [value]="formattedEDate" 
             (click)="ChooseDate(false)" 
             placeholder="Choose Date" 
             readonly />
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Start Period V End Period V</th>
        <th *ngFor="let month of months">{{ month }}</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      
        <tr *ngFor="let row of budgetData; let i = index" [ngClass]="row.parent ? 'income-row' : '' ">
          <td #editableCell contenteditable="true" (keydown.enter)="addRow(i)" (keydown)="onArrowKey(i, 0, $event)">
            {{ row.category }}
          </td>
          <td  #editableCell *ngFor="let month of months; let monthIndex = index" contenteditable="true"
            (input)="onInputChange(i, month, $event.target)"
            (keydown.enter)="onEnterPress(i, month, $event.target)"
            (keydown)="onArrowKey(i, monthIndex + 1, $event)"
            (contextmenu)="showContextMenu($event, i, month)">
            {{ row[month] }}
          </td>
          <td #editableCell class="container-action-btn-of-row"  contenteditable="true" (keydown)="onArrowKey(i, months.length + 1 , $event)">
            <button class="act-btn add-row-btn" *ngIf="!row.parent" (click)="deleteRow(i)">
              <mat-icon>delete</mat-icon>
            </button>
            <button class="act-btn delete-row-btn" *ngIf="!row.parent" (click)="addRow(i)">
              <mat-icon>add</mat-icon>
            </button>            
          </td>
        </tr>     
    </tbody>
    <tfoot>
      <tr>
        <td><strong>TOTAL</strong></td>
        <td *ngFor="let month of months">{{ getOverallTotal(month) }}</td>
        <td>{{ overallTotal }}</td>
      </tr>
    </tfoot>
  </table>
</div>


